<%- include('../pages/index.ejs')%>

<h2 class="text-center">Productos</h2>
<% if(productos){%>
<div class="col-md-6 offset-3 mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Precio</th>
        <th scope="col">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <% productos.forEach((products)=>{%>
      <tr>
        <th><%= products.id%></th>
        <td><%= products.title%></td>
        <td><%= products.price%></td>
        <td><%= products.thumbnail%></td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>
<% } else { %>
<h3 class="text-center">No hay Productos</h3>
<% } %>
