<!DOCTYPE html>
<html lang="en">
  <%- include ('head') %>
  <body>
    <header><%- include ('navbar') %></header>
    <div class="container">
      <div class="row">
        <form
          action="/products/editProduct/<%= product._id%>"
          method="post"
          class="d-flex flex-column mt-4 p-4 form-control"
        >
          <label for="title" class="form-label">Titulo del Producto</label>
          <input
            type="text"
            name="title"
            value="<%= product.title%>"
            class="form-control"
          />
          <label for="price" class="form-label">Precio del Producto</label>
          <input
            type="number"
            name="price"
            value="<%= product.price%>"
            class="form-control"
          />
          <label for="description" class="form-label"
            >Descripción del Producto</label
          >
          <input
            type="text"
            name="description"
            value="<%= product.description%>"
            class="form-control"
          />
          <label for="image" class="form-label">Imagen del Producto</label>
          <input
            type="text"
            name="image"
            value="<%= product.image%>"
            class="form-control"
          />
          <button type="submit" class="mt-4 btn btn-secondary">Agregar</button>
        </form>
      </div>
    </div>
  </body>
</html>
