<!DOCTYPE html>
<html lang="en">
  <%- include ('head')%>
  <body>
    <header><%- include ('navbar')%></header>
    <main>
      <%- include ('presentacion') %>
      <h1 class="text-center mt-4">Productos</h1>
      <div class="d-flex justify-content-center me-2 flex-wrap">
        <% products.forEach((el)=>{%>
        <div class="card me-2 mb-2 text-center" style="width: 18rem">
          <form action="/cart" method="post" class="card-body">
            <input type="text" value="<%= el._id%>" name="id" class="d-none" />
            <h4><%= el.title %></h4>
            <img src="<%= el.image %>" class="card-img-top" />
            <figcaption><%= el.description %></figcaption>
            <p class="fs-2">$ <%= el.price %></p>
            <button type="submit" class="btn btn-secondary">Comprar</button>
            <a
              class="ms-2 border rounded p-1"
              href="/products/editProduct/<%- el._id%>"
              ><i class="bi bi-pencil"></i
            ></a>
            <a
              class="ms-2 border rounded p-1"
              href="/products/deleteProduct/<%- el._id%>"
              ><i class="bi bi-trash"></i
            ></a>
          </form>
        </div>
        <%}); %>
      </div>
    </main>
    <div class="d-flex text-end">
      <div class="fixed-bottom m-2">
        <button onclick="location.href='/chat'" class="btn btn-primary">
          Chat
        </button>
      </div>
    </div>
  </body>
</html>
