<!DOCTYPE html>
<html lang="en">
  <%- include ('head')%>
  <body>
    <header><%- include ('navbar')%></header>
    <main>
      <h1 class="text-center mt-4">Productos</h1>
      <div class="d-flex justify-content-center me-2 flex-wrap">
        <% products.forEach((el)=>{%>
        <div class="card me-2 mb-2 text-center" style="width: 18rem">
          <form action="/cart" method="post" class="card-body">
            <input type="text" value="<%= el._id%>" name="id" class="d-none" />
            <h4><%= el.title %></h4>
            <img src="<%= el.image %>" class="card-img-top" />
            <figcaption><%= el.description %></figcaption>
            <p class="fs-2">$ <%= el.price %></p>
            <div class="d-flex justify-content-end align-items-center">
              <p class="m-0">Stock:</p>
              <select name="stock" class="ms-2">
                <% for(let i = 1; i<= el.stock; i++){ %>
                <option value="<%= i %>"><%= i %></option>
                <%}%>
              </select>
            </div>
            <button type="submit" class="btn btn-light">Comprar</button>
          </form>
        </div>
        <%}); %>
      </div>
    </main>
    <div class="d-flex text-end">
      <div class="fixed-bottom m-2"><%- include ("chat") %></div>
    </div>
  </body>
</html>
