<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partial/head') %>
  </head>
  <body>
    <%- include('../partial/header') %>
    <h3>Estoy en la mitad</h3>
    <% if(render){%>
    <ul>
      <$usuarios.forEach(usuarios=>{%>
      <li><%=usuarios.nombre %> <%=usuario.apellido %></li>
      <%})%>
    </ul>
    <%}%> <%- include('../partial/footer') %>
  </body>
</html>
